body {
  margin: 0;
}

.issue-bar {
  position: relative;
  font-family: monospace;
}
.issue-bar.initial {
  left: 0;
}
.issue-bar.scheduled {
  left: 2%;
  background-color: #D0FFD0;
}
.issue-bar.ongoing {
  left: 4%;
  background-color: #D0F8FF;
}
.issue-bar.completed {
  left: 6%;
  background-color: #FFE0E0;
}
.issue-bar.rejected {
  left: 0;
  background-color: #D0D0D0;
}

.status-label {
  margin: 0;
  padding: 2px 8px;
  width: min-content;
  color: #F0F0F0;
  background-color: #808080;
  border-radius: 4px;
}
